# Config file for Dinosaur Planet Recompilation.

[input]
entrypoint = 0x80000400
# Paths are relative to the location of this config file.
output_func_path = "RecompiledFuncs"
rom_file_path = "baserom.patched.z64"
symbols_file_path = "lib/dino-recomp-decomp-bridge/dino.syms.toml"
relocatable_sections_path = "lib/dino-recomp-decomp-bridge/dino.dlls.txt"

[patches]
stubs = [
    "test_write",
    "check_dongle",
]

ignored = [
    "__osMakeMotorData",
    # unused problematic funcs
    "func_80011588",
    "func_80011490",
    "NOTosContSetch"
]

renamed = [
    "acos",
    "asin",
    "_itoa",
    "strcasecmp",
    "strncasecmp",
]

# Enable mips3 float mode for mips3 hasm
[[patches.hook]]
before_vram = 0x80014FEC
func = "matrix_concat"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x800150DC
func = "matrix_concat"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x800150E4
func = "matrix_concat_4x3"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x800151FC
func = "matrix_concat_4x3"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x80015204
func = "matrix_concat_3x3"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x80015290
func = "matrix_concat_3x3"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x80015330
func = "matrix_f2l_4x3"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x800154CC
func = "matrix_f2l_4x3"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x800154D4
func = "matrix_f2l_translate_only"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x8001557C
func = "matrix_f2l_translate_only"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x80015BB8
func = "matrix_from_yaw"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x80015C68
func = "matrix_from_yaw"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x8001621C
func = "vec3_distance"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x80016254
func = "vec3_distance"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x8001625C
func = "vec3_distance_squared"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x80016290
func = "vec3_distance_squared"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x80016298
func = "vec3_distance_xz"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x800162C0
func = "vec3_distance_xz"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x800162C8
func = "vec3_distance_xz_squared"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x800162EC
func = "vec3_distance_xz_squared"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x80016348
func = "atan2f_to_s"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x800163F8
func = "atan2f_to_s"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"
[[patches.hook]]
before_vram = 0x8001643C
func = "atan2f_to_s"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x800164A0
func = "func_800164A0"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x80016574
func = "func_800164A0" # Can't do an after_vram patch, so this also does the last instruction to get the order right
text = """CHECK_FR(ctx, 0);
    CHECK_FR(ctx, 14);
    CHECK_FR(ctx, 15);
    NAN_CHECK(ctx->f14.fl); NAN_CHECK(ctx->f15.fl); 
    ctx->f0.fl = ctx->f14.fl + ctx->f15.fl;
    cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);
    return;
"""

[[patches.hook]]
before_vram = 0x8001C8D4
func = "convert_mtxf_to_mtx_in_pool"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x8001CA9C
func = "convert_mtxf_to_mtx_in_pool"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x8001CAA4
func = "func_8001CAA4"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x8001CCF0
func = "func_8001CAA4"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

[[patches.hook]]
before_vram = 0x8001F890
func = "func_8001F890"
text = "cop0_status_write(ctx, cop0_status_read(ctx) | 0x04000000);"
[[patches.hook]]
before_vram = 0x8001FF18
func = "func_8001F890"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"
[[patches.hook]]
before_vram = 0x800202E0
func = "func_8001F890"
text = "cop0_status_write(ctx, cop0_status_read(ctx) & ~0x04000000);"

# Patch culling frustum calculation to support the dynamic recomp aspect ratio
[[patches.hook]]
before_vram = 0x80044C4C
func = "func_80044BEC"
text = """float _aspectHack;
    {
        recomp_context savedCtx = *ctx;
        recomp_get_frustum_aspect_hack(rdram, ctx);
        _aspectHack = ctx->f0.fl;
        *ctx = savedCtx;
    }
    ctx->f6.fl = 1.0f / _aspectHack;"""

# Hook DLL loading/unloading up to N64ModernRuntime's overlay system
[[patches.hook]]
before_vram = 0x8000BF18
func = "dll_load"
text = "gpr dllId = ctx->r7;"
[[patches.hook]]
before_vram = 0x8000C028
func = "dll_load"
text = "recomp_on_dll_load(dllId, ctx->r2 + MEM_W(0, ctx->r2));"
[[patches.hook]]
before_vram = 0x8000bfbc
func = "dll_load"
text = "recomp_on_dll_load_too_few_exports(dllId, ctx->r15, ctx->r24);"
[[patches.hook]]
before_vram = 0x8000c014
func = "dll_load"
text = "recomp_on_dll_load_too_many_dlls(dllId);"

[[patches.hook]]
before_vram = 0x8000C2B4
func = "dll_unload"
text = "gpr dllListIdx = ctx->r2;"
[[patches.hook]]
before_vram = 0x8000C340
func = "dll_unload"
text = "recomp_on_dll_unload(MEM_W(dllListIdx * 0x10, MEM_W(0, 0xFFFFFFFF800A7D10)));"

# DLL 31 contains the osFlash functions, redirect them to the recomp versions
[[patches.hook]]
func = "__dll31_osFlashInit"
text = "osFlashInit_recomp(rdram, ctx); return;"

[[patches.hook]]
func = "__dll31_osFlashReadId"
text = "osFlashReadId_recomp(rdram, ctx); return;"

[[patches.hook]]
func = "__dll31_osFlashClearStatus"
text = "osFlashClearStatus_recomp(rdram, ctx); return;"

[[patches.hook]]
func = "__dll31_osFlashSectorErase"
text = "osFlashSectorErase_recomp(rdram, ctx); return;"

[[patches.hook]]
func = "__dll31_osFlashWriteBuffer"
text = "osFlashWriteBuffer_recomp(rdram, ctx); return;"

[[patches.hook]]
func = "__dll31_osFlashWriteArray"
text = "osFlashWriteArray_recomp(rdram, ctx); return;"

[[patches.hook]]
func = "__dll31_osFlashReadArray"
text = "osFlashReadArray_recomp(rdram, ctx); return;"

# Yields for crash screen loops
[[patches.hook]]
before_vram = 0x80062BCC
func = "other_crash_print"
text = "yield_self(rdram);"

[[patches.hook]]
before_vram = 0x8006272C
func = "some_crash_print"
text = "yield_self(rdram);"

# replace PI_STATUS check with yield
[[patches.hook]]
before_vram = 0x800012d8
func = "camera_init"
text = "yield_self(rdram);"
[[patches.instruction]]
vram = 0x800012d8
func = "camera_init"
value = 0x00001025 # lw v0,0x0(v1) -> or v0,zero,zero

# osAiGetLength got inlined
[[patches.hook]]
before_vram = 0x80011cc0
func = "__amHandleFrameMsg"
text = "uint32_t recomp_osAiGetLength(); ctx->r25 = recomp_osAiGetLength();"
[[patches.instruction]]
vram = 0x80011CC0
func = "__amHandleFrameMsg"
value = 0x00000000 # lw t9,0x4(t8) -> nop

# Patch out ROM read
[[patches.instruction]]
vram = 0x80001300
func = "camera_init"
value = 0x00004825 # lw t1,0x578(t9) -> or t1,zero,zero

# Skip security dongle checks
[[patches.hook]]
before_vram = 0x81012500
func = "__dll3_dll_3_func_60AC"
text = "goto L_8101254C;"
[[patches.hook]]
before_vram = 0x811777d4
func = "__dll210_dll_210_func_A3FC"
text = "goto L_81177828;"

# Increase audio command list buffer size
# The game overflows this in a few areas...
[[patches.hook]]
before_vram = 0x80011944
func = "init_audio"
text = "ctx->r25 = ADD32(0, 0X5000);"

## Commit some sins to get 0x8001B4F0-0x8001C8D4 to recompile...
# $ra is saved in $t9 because functions called before it don't correctly save $ra to the stack,
# this is not relevant since we just want to recognize this as a return statement, so override it
[[patches.instruction]]
vram = 0x8001ba28
func = "func_8001B6F0"
value = 0x03e00008  # jr $t9 -> jr $ra
[[patches.hook]]
before_vram = 0x8001ba28
func = "func_8001B6F0"
text = "assert(ctx->r25 == 0);"

# There's a function pointer table at 0x80090444 that's never written to and only has one valid
# branch. Just convert it to a jump to that one branch so recomp can reason about it.
[[patches.instruction]]
vram = 0x8001c8b0
func = "func_8001C8A0"
value = 0x0800722e # jr $s1 -> j 0x8001c8b8
[[patches.hook]]
before_vram = 0x8001C8B0
func = "func_8001C8A0"
text = "assert(ctx->r17 == 0x8001c8b8);"

# Record when func_8001B4F0 is entered
[[patches.hook]]
before_vram = 0x8001B4F0
func = "func_8001B4F0"
text = "void recomp_on_func_8001B4F0_entry(uint8_t* rdram, recomp_context* ctx); recomp_on_func_8001B4F0_entry(rdram, ctx);"

# Ensure the return routine of func_8001B4F0 doesn't run twice.
# This can happen as a consequence of how this big asm segment is recompiled.
[[patches.hook]]
before_vram = 0x8001C83C
func = "func_8001C694"
text = """int recomp_did_func_8001B4F0_return();
    void recomp_on_func_8001B4F0_ret(uint8_t* rdram, recomp_context* ctx);
    if (recomp_did_func_8001B4F0_return()) { return; }
    recomp_on_func_8001B4F0_ret(rdram, ctx);"""
[[patches.hook]]
before_vram = 0x8001C83C
func = "func_8001C6C8"
text = """int recomp_did_func_8001B4F0_return();
    void recomp_on_func_8001B4F0_ret(uint8_t* rdram, recomp_context* ctx);
    if (recomp_did_func_8001B4F0_return()) { return; }
    recomp_on_func_8001B4F0_ret(rdram, ctx);"""
[[patches.hook]]
before_vram = 0x8001C83C
func = "func_8001C834"
text = """int recomp_did_func_8001B4F0_return();
    void recomp_on_func_8001B4F0_ret(uint8_t* rdram, recomp_context* ctx);
    if (recomp_did_func_8001B4F0_return()) { return; }
    recomp_on_func_8001B4F0_ret(rdram, ctx);"""
[[patches.hook]]
before_vram = 0x8001C83C
func = "func_8001C83C"
text = """int recomp_did_func_8001B4F0_return();
    void recomp_on_func_8001B4F0_ret(uint8_t* rdram, recomp_context* ctx);
    if (recomp_did_func_8001B4F0_return()) { return; }
    recomp_on_func_8001B4F0_ret(rdram, ctx);"""

# Verify that this is never a function pointer return
[[patches.hook]]
before_vram = 0x8001C898
func = "func_8001C694"
text = "assert(ctx->r31 == 0);"
[[patches.hook]]
before_vram = 0x8001C898
func = "func_8001C6C8"
text = "assert(ctx->r31 == 0);"
[[patches.hook]]
before_vram = 0x8001C898
func = "func_8001C834"
text = "assert(ctx->r31 == 0);"
[[patches.hook]]
before_vram = 0x8001C898
func = "func_8001C83C"
text = "assert(ctx->r31 == 0);"
